{% extends 'main/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <a href="{% url 'main:generate_self_promotion' %}" class="menu">　自己PR生成　</a>
    <a href="{% url 'main:job_list' %}" class="menu">　求人リストへ　</a>
    <a href="{% url 'main:eva' %}" class="menu">　評価登録　</a>
    <a href="{% url 'main:eva_list' %}" class="menu">　評価一覧　</a>
    <a href="{% url 'main:user_register' %}" class="menu">　ユーザ情報　</a>
    <!-- <a href="{% url 'user:signout' %}" class="menu">ログアウト</a> -->
    {% else %}
    <div class="border-radius">
        <p>概要説明</p>
    </div>
    <br>
    <div class="button">
        <a href="{% url 'user:signup' %}">新規登録</a>
    </div>
    <br>
    <div class="button">
        <a href="{% url 'user:signin' %}">ログイン</a>
    </div>
    {% endif %}
</body>
</html>
{% endblock %}
