{% extends 'main/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <a href="{% url 'main:generate_self_promotion' %}" class="menu">　自己PR生成　</a>
    <a href="{% url 'main:job_list' %}" class="menu">　求人リストへ　</a>
    <a href="{% url 'main:eva' %}" class="menu">　評価登録　</a>
    <a href="{% url 'main:eva_list' %}" class="menu">　評価一覧　</a>
    <a href="{% url 'main:user_register' %}" class="menu">　ユーザ情報　</a>
    <!-- <a href="{% url 'user:signout' %}" class="menu">ログアウト</a> -->
    <div class="form-container">
        <h1 class="text-3xl font-bold mb-6">{{ status.user.username }}さんの評価</h1>

        <br>

        <ul>
            <li>社交性(sociability): {{ status.sociability }}</li>
            <li>知識(knowledge): {{ status.knowledge }}</li>
            <li>資格力(qualification): {{ status.qualification }}</li>
        </ul>

        <br>
        <!-- レーダーチャートの表示 -->
        <div class="flex justify-center">
            <img src="{% url 'main:radar_chart' %}" alt="ステータスのレーダーチャート" class="mx-auto">
        </div>
    </div>
    {% else %}
    <div class="border-radius">
        <p>概要説明</p>
    </div>
    <br>
    <div class="button">
        <a href="{% url 'user:signup' %}">新規登録</a>
    </div>
    <br>
    <div class="button">
        <a href="{% url 'user:signin' %}">ログイン</a>
    </div>
    
    {% endif %}
</body>
</html>
{% endblock %}
