<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <img src="{% static "media/logo/Eva.png" %}" width=300 height=300 alt="エヴァナビロゴ" class="logo">

    {% if user.is_authenticated %}
    <a href="{% url 'main:job_list' %}" class="btn btn-primary">求人リストへ</a>
    <a href="{% url 'main:eva' %}" class="btn btn-primary">評価登録</a>
    <a href="{% url 'main:eva_list' user_id=user.id %}" class="btn btn-primary">評価一覧</a>
    <a href="{% url 'main:user_register' %}" class="btn btn-primary">ユーザ情報</a>
    <a href="{% url 'main:status' %}" class="btn btn-primary">ステータス確認</a>
    <a href="{% url 'user:signout' %}" class="btn btn-primary">ログアウト</a>
    {% else %}
    <p class="overview">概要説明</p>
    <div class="button">
        <a href="{% url 'user:signup' %}">新規登録</a>
    </div>
    <div class="button">
        <a href="{% url 'user:signin' %}">ログイン</a>
    </div>
    {% endif %}
</body>
</html>