{% extends 'main/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自己PR生成</title>
</head>
<body>
    <div class="container">
        <h1 class="text-3xl font-bold mb-6">自己PR生成</h1>

        <div class="self-promotion-box">
            <h2 >あなたの自己PR:</h2>
            <p class="kakomi">{{ self_promotion }}</p>
        </div>

        <div class="actions">
            <a href="{% url 'main:home' %}" class="soushin">　ホームに戻る　</a>
            <a href="{% url 'main:generate_self_promotion' %}" class="soushin">　もう一度生成する　</a>
        </div>
<br>
        <div class="download-links">

            <a href="{% url 'main:download_self_promotion' 'txt' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">TXT形式で保存</a>
            <a href="{% url 'main:download_self_promotion' 'json' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">JSON形式で保存</a>
        </div>
    </div>
</body>
{% endblock %}